<div class="red card"
  :class="{'active': is_current_slide }"
>
<div class="content" v-on:click='scream()'>
  <div class="header">{{slide.order}}</div>
  <div class="meta">{{backdrop.path}} | {{template.title}}</div>
  <div class="description">
    {{slide.content1}}
  </div>
</div>
<!-- <div class="extra content">
  <span class="left floated">
    <i class="caret left icon"></i>
    <i class="caret right icon"></i>
  </span>
  <span class="right floated">
    <i class="pencil icon"></i>
    <i class="copy icon"></i>
  </span>
</div> -->
</div>