<html>

<head>
  <meta charset='utf-8'>
  <title>Control Window</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/semantic.css">
  <link rel="stylesheet" href="/styles/control.css">
  <script src="/scripts/dependancies.js"></script>
  <script src="/scripts/control.js"></script>

</head>

<body id='myvue'>

<div class="ui hidden divider"></div>

<!-- Status Light -->
<div class="ui container">
  <div class="ui ordered fluid steps">
    <div id='layout_btn' class="step"
      :class="{'active': state =='layout'}"
      @click="state='layout'"
    >
      <div class="content">
        <div class="title">Layout</div>
        <div class="description">Make your track list with Library</div>
      </div>
    </div>

    <div id='review_btn' class="step"
      :class="{'active': state =='review'}"
      @click="state='review'"
    >
      <div id='hide-button' class="content">
        <div class="title">Review</div>
        <div class="description">Adjustment for this service</div>
      </div>
    </div>
    <div id='show_btn' class="step"
      :class="{'active': state =='show'}"
    >
      <div class="content">
        <div class="title">Film</div>
        <div class="description">Show Time</div>
      </div>
    </div>
  </div>
</div>
<!-- Status Light End -->

<div class="ui divider"></div>

<!-- State 1 : Layout -->
<div class="ui container" v-show="state=='layout'">
  <div class="ui grid">

    <!-- Library -->    
    <div class="ten wide column">

      <h3>Layout Arranger</h3>

      <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">Songs Library</a>
        <a class="item" data-tab="second">Slides</a>
      </div>
      <div class="ui bottom attached active tab segment" data-tab="first">

        <button class="ui right floated labeled icon button">
          <i class="plus icon"></i>
          New Song
        </button>

        <table class="ui very basic table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Preview</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="song in song_list">
              <song-list-item></song-list-item>
            </template>
          </tbody>
        </table>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        feature coming soon~
      </div>

    </div>
    <!-- Library End -->

    <!-- Track List -->
    <div class="six wide column">
      <h3> Service Tracks List </h3>
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Amazing Grace</td>
            <td>
              <i class="caret down icon"></i>
              <i class="caret up icon"></i>
              <i class="trash icon"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Track List End -->
  </div>
</div>
<!-- State 1 : Layout End -->



<!-- State 2 : REVIEW -->
<div class="ui container" v-show="state=='review'">

  <div class="ui grid">

    <!-- Item List -->    
    <div class="twelve wide column">
  
      <h3>Review &amp; Adjustment</h3>

      <template v-for='track in db_tracks'>
        <arrange-track
          :track='track'
        ></arrange-track>
      </template>

    
    </div>
    <!-- Library End -->

    <!-- Track List -->
    <div class="four wide column">
      <div class="ui segment">
        Show on :
        <select class="ui dropdown" id="present-display-list">
        </select>
      </div>
      <h3>Tracks List </h3>
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Amazing Grace</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Track List End -->
  </div>
</div>
<!-- State 2 : REVIEW End -->


</body>

</html>
